# Extension ignores
*.ini

# Ignore project folders
.esphome/
3rd_party/
bluetooth_hub/
irrigation/
plug*/
pool/
shelly*/
sonoff*/

# Ignore subfolders.
**/lib
**/src

# Specific file ignores.
._*
.DS_Store
/secrets.yaml

# Specific includes.
#!.stubs/secrets.yaml
