# Extension ignores
*.ini

# Ignore project folders
.esphome/
3rd_party/
bluetooth-*/
irrigation/
plug-*/
pool/
power-*/
shelly-*/
sonoff-*/
switch-*/

# Ignore subfolders.
**/lib
**/src

# Specific file ignores.
._*
.DS_Store
/secrets.yaml
partitions.csv
